# Build artifacts
.build/
.swiftpm/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# macOS
.DS_Store
*.dSYM

# Xcode
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# Swift Package Manager
Package.resolved
